<ion-header>
  <ion-toolbar color="primary">
    <ion-title>ToDoList</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logout()">
        <ion-icon slot="icon-only" name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="background">
  <h2>Today</h2>
  <h5>{{currentDate}}</h5>

  <ion-card *ngFor="let task of tasks">
      <ion-item lines="none">
        <ion-checkbox (ionChange)="changeCheckState(task)" color="success" [(ngModel)]="task.checked" slot="start"></ion-checkbox>
          <ion-label>
            <h2 *ngIf="!task.checked">{{task.text}}</h2>
            <h2 *ngIf="task.checked" style="text-decoration: line-through;">{{task.text}}</h2>
            <p>{{task.date}}</p>
          </ion-label>
      </ion-item>
  </ion-card>
  <ion-card *ngIf="show">
    <ion-item lines="none">
      <ion-input [(ngModel)]="myTask" placeholder="Entrer une tahe"></ion-input>
      <ion-button (click)="addTask()" shape="round" slot="end">
        <ion-icon slot="icon-only" name="add-outline"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-card>
  <ion-button *ngIf="!show" (click)="showForm()" fill="outline" expand="block" class="add-button">
    <ion-icon name="add" slot="start"></ion-icon>Ajouter une tache
  </ion-button>
  <!--quand je clique sur annuler je vide le formulaire-->
  <ion-button *ngIf="show" (click)="showForm()" fill="outline" expand="block" class="add-button">
    <ion-icon name="arrow-undo-circle-outline" slot="start"></ion-icon>Ajouter
  </ion-button>
</ion-content>