<ion-header>
  <ion-toolbar color="primary">
    <ion-title>ToDoList</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logout()">
        <ion-icon slot="icon-only" name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="background">
  <div class="ion-margin-horizontal">
  <h2>Today</h2>
  <h5>{{currentDate}}</h5>
  </div>
  <ion-card *ngFor="let task of tasks">
      <ion-item lines="none">
        <ion-checkbox (ionChange)="changeCheckState(task)" [(ngModel)]="task.checked" color="success" slot="start"></ion-checkbox>
          <ion-label>
            <h2 *ngIf="!task.checked">{{task.text}}</h2>
            <h2 *ngIf="task.checked" style="text-decoration: line-through;">{{task.text}}</h2>
            <p>{{task.date}}</p>
          </ion-label>
      </ion-item>
  </ion-card>
  <ion-card *ngIf="show">
    <ion-item lines="none">
      <ion-input [(ngModel)]="myTask" placeholder="Entrer une tahe"></ion-input>
      <ion-button (click)="addTask()" shape="round" slot="end">
        <ion-icon slot="icon-only" name="add-outline"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-card>
</ion-content>
